/**/
/* CSS for Audio Blind Test app */
/**/
body {
  padding-top: 1vh;
  max-width: 575px !important;
  font-family: 'Rubik', sans-serif;
}

body * {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar-txt {
  color: #C0C0C0;
  text-align:center;
}

.navbar-txt span {
  font-size: 0.9rem;
}

.alb-art {
  min-width: 80px;
}

.outer {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid rgba(255, 128, 0, 0.95);
  border-radius: 10px;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  color: white;
  text-align:center;
  font-size: 1.5rem;
}

h6 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
}

.card {
  background-color: rgba(255, 128, 0, 0.95);
  border: 1px solid white !important;
  border-radius: 4px !important;
}

.card-tit * {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px 0 3px 10px;
}

.card-tit:hover * {
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  color: rgba(255, 128, 0, 1.0);
}

.btn-link {
  color: #C0C0C0;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none;
  color: rgba(255, 128, 0, 1.0);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.btn-link:focus {
  text-decoration: none;
  color: rgba(255, 128, 0, 1.0);
}
.btn-link, .btn-secondary {
  -webkit-transition: all 0.7s cubic-bezier(1,1,.43,1.23);
  transition: all 0.7s cubic-bezier(1,1,.43,1.23);
}

.modal.fade {
  -webkit-transition: all 0.7s cubic-bezier(1,1,.43,1.23);
  transition: all 0.7s cubic-bezier(1,1,.43,1.23);
}

.modal-header {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-title {
  font-size: 1.2rem;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-Cover .modal-content {
  max-width: 400px;
}

.btn-minus {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 0.8em;
  border-radius: 5px;
  -webkit-transition: transform 0.3s cubic-bezier(0,.29,0,.29);
  transition: transform 0.3s cubic-bezier(0,.29,0,.29);
}

.btn-minus:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-info {
  -webkit-transition: transform 0.3s cubic-bezier(0,.29,0,.29);
  transition: transform 0.3s cubic-bezier(0,.29,0,.29);
}

.btn-info:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.browserupgrade {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
  z-index: 1000;
}

.social-icons * {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.social-icons img:hover {
  background-color: rgba(255, 128, 0, 0.95);
}

/* ------------- Badge Landing Settings ------------*/
.land-1 {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50%;
}

.land-1.back {
  background-image: url("../assets/EP-2018-sm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
}

.land-2.accordion {
  top: 200px;
  position: relative;
}

.no-show {
  display: none !important;
}

/* =================================================
   =         Bootstrap 4.0 Media Queries             =
   ================================================= */

/* ------------ Mobile First Method ------------ */
/*
/* Extra small devices (portrait phones, less than 576px) */ 
@media screen and (max-width : 576px) {
  .list-tit {
    font-size: 1.2rem;
  }
  .navbar-txt {
    font-size: 0.8rem;
  }
}

/* Small devices (landscape phones, 576px and up) */ 
@media screen and (min-width : 576px) {
  .list-tit {
    font-size: 1.5rem;
  }
}
